.logo{
    width: 165px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.nav-text{
    font-size: 15px;
    font-weight: 300;
}
.franchise{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid white;
    padding: 15px 25px;
    border-radius: 25px;
}